<div class="jumbotron">
        <h2>Create Club</h2>
        <div class="container">
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="newClubName">Club Name:</label>
                        <input type="text" class="form-control" id="newClubName" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="newClubDescription">Description:</label>
                        <input type="text" class="form-control" id="newClubDescription" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="newClubLocation">Location:</label>
                        <input type="text" class="form-control" id="newClubLocation">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>