<div class="jumbotron">
        <h2>Create Event</h2>
        <div class="container">
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="newClubNameSelect">Club Name:</label>
                        <input type="text" class="form-control" id="newEventNameSelect" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="newEventDay"></label>
                        <input type="text" class="form-control" id="newEventDay" placeholder="Day:">
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <label class="mr-sm-2 sr-only" for="newEventMonth">Month</label>
                            <select class="custom-select mr-sm-2" id="newEventMonth">
                                <option selected>month</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">Aug</option>
                                <option value="9">Sept</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <br>

                        <br>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label class="mr-sm-2 sr-only" for="newEventTime">Time</label>
                                <select class="custom-select mr-sm-2" id="newEventTime">
                                    <option selected>Time</option>
                                    <option value="9AM">9AM</option>
                                    <option value="10AM">10AM</option>
                                    <option value="11AM">11AM</option>
                                    <option value="12AM">12AM</option>
                                    <option value="1PM">1PM</option>
                                    <option value="2PM">2PM</option>
                                    <option value="3PM">3PM</option>
                                    <option value="4PM">4PM</option>
                                    <option value="5PM">5PM</option>
                                </select>
                            </div>
                </form>
            </div>
        </div>
    </div>