<div class="row">
    <div class="col-4 temptables" id="memberClubID">
        #memberClubID
    </div>
    <div class="col-4 temptables" id="memberClubName">
        #memberClubName
    </div>
    <div class="col-4 temptables" id="memberClubLocation">
        #memberClubLocation
    </div>
    <div class="col-12 temptables" id="memberDescription">
        #memberDescription
    </div>
</div>