<div class="row">
    <div class="col-4 temptables" id="adminClubID">
        #adminClubID
    </div>
    <div class="col-4 temptables" id="adminClubName">
        #adminClubName
    </div>
    <div class="col-4 temptables" id="adminClubLocation">
        #adminClubLocation
    </div>
    <div class="col-12 temptables" id="adminDescription">
        #adminDescription
    </div>
</div>