<div class="row">
    <div class="col-3 temptables" id="scheduledEventName">
        #scheduledEventName
    </div>
    <div class="col-3 temptables" id="scheduledEventDate">
        #scheduledEventDate
    </div>
    <div class="col-3 temptables" id="scheduledEventStart">
        #scheduledEventStart
    </div>
    <div class="col-3 temptables" id="scheduledEventEnd">
        #scheduledEventEnd
    </div>
</div>