<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
</div>

<div class="container jumbotron">
    <div class="row">
        <h3>Clubs as Organizer</h3>
    </div>

    {{#each clubMember}}
    {{#if clubAdmin}}
    {{> members/clubAdmin-block admin=false}}
    {{/if}}
    {{/each}}

</div>

<div class="container jumbotron">
    <div class="row">
        <h3>Clubs as Member</h3>
    </div>

    {{#each clubMember}}
    {{#unless clubAdmin}}
    {{> members/clubAdmin-block admin=true}}
    {{/unless}}
    {{/each}}

</div>

<div class="container jumbotron">
    <div class="row">
        <h3>Scheduled Events</h3>
    </div>

    {{#each event}}
    {{> members/scheduledEvents-block}}
    {{/each}}

</div>
<a href="#">Create New Club</a>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>