<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Club Soda</title>
</head>

<body>

  <div class="heading">
    <div class="row">
        <h2>CLUB SODA</h2>
    </div>

</div>

  {{{body}}}
  
</body>

</html>
